/* здесь подключите шрифты*/
$primary-font: "Oswald", sans-serif;

@include font-face("Oswald", 400, normal, url("/source/fonts/oswaldregular.woff2") format("woff2"));
@include font-face("Lato", 400, normal, url("../source/fonts/lato-regular.woff2") format("woff2"));
