/* здесь подключите шрифты*/

@include font-face("Oswald", 400, normal, url("../../fonts/oswaldregular.woff2") format("woff2"));
@include font-face("Lato", 400, normal, url("../../fonts/lato-regular.woff2") format("woff2"));

$primary-font: "Oswald", sans-serif;
$secondary-font: "Lato", sans-serif;
