/* здесь используйте глобальные селекторы img, body, html и так далее*/
body {
  font-family: "Oswald", "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  list-style-type: none;
}
