@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin button {
  display: block;
  min-height: 20px;
  min-width: 40px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  align-self: center;
  color: #ffffff;
  background-color: #68b738;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}
