/* GLOBAL */
@import "./global/variables.scss";
@import "./global/mixins.scss";
@import "./global/fonts.scss";
@import "./global/global.scss";


/* BLOCKS */
@import "./blocks/visually-hidden.scss";
@import "./blocks/page.scss";
@import "./blocks/page-container.scss";
@import "./blocks/button.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logo.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/main-container.scss";
@import "./blocks/main.scss";
@import "./blocks/hero.scss";
@import "./blocks/program.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/contacts.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
@import "./blocks/catalog.scss";
@import "./blocks/additional.scss";
@import "./blocks/main-form.scss";
@import "./blocks/form.scss";
@import "./blocks/type-programm.scss";
@import "./blocks/form-group.scss";
@import "./blocks/catalog-additional.scss";
@import "./blocks/form-other.scss";



