.additional {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 76px;
    margin-bottom: 87px;
  }
}


.additional__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
  }
}

.additional__title {
  margin: 0;
  margin-top: 25px;
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  width: fit-content;
  background: #ffff;
  box-shadow: -40px 0px 0px #ffffff, 40px 0px 0px #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 51px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 64px;
  }
}

.additional__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  width: 100vw;
  height: 2px;
  background: #68b738;
  right: calc(100% + 20px);
  box-shadow: 100vw 0px 0px #68b738;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 21px;
  }

  @media (min-width: $desktop-width) {
    top: 23px;
  }
}

.additional__list {
  padding: 0;
  margin: 0;
  margin-top: 17px;
}

@media (min-width: $desktop-width) {
  .additional__list {
    margin: 0;
    grid-column: 1/2;
  }
}

.additional__list::after {
  display: block;
  content: "";
  border-top: 1px solid #cdcdcd;
  grid-column: 1/3;
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    margin-top: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 16px;
  }
}

.additional__item {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(4, min-content);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 244px;
    grid-template-rows: 1fr;
    padding: 0;
  }
}

.additional__item::before {
  display: block;
  content: "";
  border-top: 1px solid #cdcdcd;
  grid-column: 1/3;
  margin-top: 19px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-top: 28px;
    margin-bottom: 26px;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
    margin-bottom: 16px;
    grid-column: 1/5;
  }
}

.additional__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
}

.additional__button {
  padding: 10px 0px;
  grid-column: 1/3;

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    margin: 0 38px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
    grid-row: 2/3;
    margin: 0;
  }
}

.additional__name {
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  align-self: center;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    font-size: 20px;
    line-height: 20px;
    margin-left: 40px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional__info {
  grid-column: 1/3;
  display: grid;
  margin: 0;
  text-align: center;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 2/3;
    min-width: 300px;
    grid-template-columns: 1fr 93px;
    margin-right: 40px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 81px;
    margin: 0;
    align-self: center;
  }
}

.additional__subtitle {
  font-family: $secondary-font;
  color: $secondary-color;
  font-size: 14px;
  line-height: 14px;
  grid-column: 1/2;
  text-align: left;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 25px;
    text-align: left;
  }
}

.additional__text {
  font-family: $secondary-font;
  color: $secondary-color;
  font-size: 14px;
  line-height: 14px;
  grid-column: 2/3;
  text-align: right;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.additional__present {
  background-image: url(../../images/present-mobile@2x.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #68b738;
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    background-image: url(../../images/present-mobile@2x.jpg);
    margin-top: 67px;
    background-position: center;
    background-size: cover;
    background-position-y: -320px;
    background-position-x: 5px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    background-size: cover;
    margin-top: 15px;
    background-position-y: 0px;
    background-position-x: 0px;
  }
}

.additional__text--present {
  font-family: $secondary-font;
  text-align: center;
  margin: 0;
  padding: 60px 46px 43px 46px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    display: grid;
    column-gap: 264px;
    grid-template-columns: min-content auto;
    padding: 70px 125px 48px 77px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 68px 35px 25px;
    text-align: center;
  }

}

.additional__text--present::before {
  background-image: url("../../images/icon-present.svg");
  background-repeat: no-repeat;
  display: block;
  content: "";
  width: 76px;
  height: 76px;
  margin: 0 auto;
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    position: relative;
    bottom: 13px;
    margin: 0;
    width: 80px;
    height: 82px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-bottom: 34px;
  }


}
