.advantages__title {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 71px;
    margin-bottom: 32px;
  }
}



.advantages__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    counter-reset: new 0;
    row-gap: 37px;
    column-gap: 59px;
    margin: 0;
    margin-top: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}

.advantages__item {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content 1fr;
    counter-increment: new 1;
    gap: 31px;
    column-gap: 35px;
  }

}

.advantages__item::after {
  display: block;
  background-color: #68b738;
  content: "";
  width: 60px;
  height: 60px;
  background-position: center;
  grid-column: 1/2;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-top: 32px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}

.advantages__item--leaf {
  @media (min-width: $tablet-width) {
    column-gap: 39px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 33px;
  }
}

.advantages__item--water {
  @media (min-width: $desktop-width) {
    column-gap: 31px;
  }
}

.advantages__item--eat {
  @media (min-width: $desktop-width) {
    column-gap: 32px;
  }
}

.advantages__item--time {
  @media (min-width: $desktop-width) {
    column-gap: 29px;
  }
}



.advantages__item--leaf::after {
  background-image: url(../../images/icons-advantages/icon-leaf.svg);
  background-repeat: no-repeat;
}

.advantages__item--water::after {
  background-image: url(../../images/icons-advantages/icon-water.svg);
  background-repeat: no-repeat;
}

.advantages__item--eat::after {
  background-image: url(../../images/icons-advantages/icon-eat.svg);
  background-repeat: no-repeat;
}

.advantages__item--time::after {
  background-image: url(../../images/icons-advantages/icon-time.svg);
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .advantages__item::before {
    content: counter(new);
    font-family: $primary-font;
    color: #F2F2F2;
    font-size: 280px;
    line-height: 280px;
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.advantages__description {
  margin: 0;
  grid-column: 2/3;
  align-self: center;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: start;
  }
}
