.button {
  @include button;
  &:hover {
    background: #5eaa2f;
  }
  &:focus {
    background: #5eaa2f;
  }
  &:active {
    background: #5eaa2f;
    color: rgb(255, 255, 255, 0.3);
  }
}

.catalog__button {
  padding: 10px 109px;
}

.additional__button {
  padding: 10px 109px;
}
