.button {
  display: block;
  min-height: 20px;
  min-width: 40px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  align-self: center;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

.button:hover,
.button:hover {
  background: #5eaa2f;
}

.button:active {
  background: #5eaa2f;
  color: rgb(255, 255, 255, 0.3);
}
