.catalog {}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  padding: 0;
  list-style: none;
}

.catalog__item {
  width: 320px;
  min-height: 209px;
  padding: 20px 20px 25px 20px;

}

.catalog__name {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: $tablet-width) {
  .catalog__name {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: $desktop-width) {
  .catalog__name {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog__link {
  color: #222222;
}

.catalog__info {
  font-family: $secondary-font;
  color: $secondary-color;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 20px 0;
  overflow: hidden;
}
@media (min-width: $tablet-width) {
  .catalog__info {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: $desktop-width) {
  .catalog__info {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog__info dt {
  margin: 0;
  padding: 5px 0;
  width: 150px;
  float: left;
  clear: both;
}

.catalog__info dd {
  padding: 5px 0;
}

.catalog__button {
  padding: 10px 53px 10px 54px;
  width: 100%;
}

