.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts frame {
  display: block;
}

.contacts--catalog {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    background: none;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0;
  margin-top: 41px;
  margin-bottom: 5px;
  grid-column: 1/3;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    max-width: 628px;
    gap: 280px;
    padding: 0;
    margin-top: 61px;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    max-width: 410px;
    background-color: #fff;
    margin-top: 95px;
    margin-bottom: 106px;
    padding: 60px 74px 60px 80px;
    gap: 93px;
    grid-row: 1/2;
    grid-column: 1/3;
    z-index: 3;
    transform: translateX(-327px);
  }
}
.contacts__wrapper--form {
  margin-top: 4px;
  @media (min-width: $tablet-width) {
    margin-top: 60px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 96px;
  }
}

.contacts__wrapper--catalog {
  margin-top: 5px;
  @media (min-width: $tablet-width) {
    margin-top: 62px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 95px;
  }
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  grid-column: 1/2;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__adress {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    row-gap: 19px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
}

.contacts__text {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: $secondary-color;
  margin: 0;
  grid-column: 2/3;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts__text--adress {
  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    margin: 0;
  }
}

.contacts__map {
  width: 100%;
  min-height: 362px;
  border: none;
  grid-column: 1/3;
  grid-row: 2/3;
  z-index: 2;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 1/3;
    z-index: 2;
  }
}

.contacts__picture {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 1/3;
  }
}
