.form-other {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: 52px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
    margin-bottom: 79px;
  }

}

.form-other__button {
  padding: 10px 78px;

  @media (min-width: $tablet-width) {
    padding: 14px 65px;
    line-height: 26px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {

    padding: 14px 208px;
    margin-right: 9px;

  }
}

.form-other__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-top: 21px;
  align-self: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 12px;
  }
}
