
.form__hero {
  display: grid;
  gap: 40px;
  margin-bottom: 24px;
}
@media (min-width: $tablet-width) {
  .form__hero {
    gap: 72px;
  }
}
@media (min-width: $desktop-width) {
  .form__hero {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 70px;
  }
}

.form__module {
  list-style-type: none;
  border: none;
  padding: 0;
}

.form__module--info {

}
.form__legend {
  position: relative;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 24px;
  width: fit-content;
@media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    margin-left: 40px;
  }
}
.form__legend::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  width: 100vh;
  height: 2px;
  background: #68b738;
  right: calc(100% + 20px);
  @media (min-width: $tablet-width) {
    right: calc(100% + 40px);
  }
}
.form__legend::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  width: 100vh;
  height: 2px;
  background: #68b738;
  left: calc(100% + 20px);
  @media (min-width: $tablet-width) {
    left: calc(100% + 40px);
  }
}



.form__legend--adress {
  margin-top: 26px;
  margin-bottom: 35px;
  margin-right: 93px;
  @media (min-width: $tablet-width) {
    margin-top: 65px;
    margin-bottom: 76px;
  }
  @media (min-width: $tablet-width) {
    margin-top: 70px;
    margin-bottom: 76px;
  }
}

.form__legend--comment {
  margin-top: 24px;
  margin-bottom: 38px;
  @media (min-width: $tablet-width) {
    margin-top: 65px;
    margin-bottom: 87px;
  }
  @media (min-width: $tablet-width) {
    margin-top: 70px;
    margin-bottom: 78px;
  }
}
.form__legend--additional {
  margin-bottom: 34px;
  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

}


.form__module--active {
  border-top: 2px red solid;
  padding: 0;
}


.form__module--additionary {
  display: flex;
}


