.hero {
  background:
  linear-gradient(0deg, rgba(255, 255, 255, 1) 37%, rgba(104, 183, 56, 0.85) 36%),
    url("../../images/index-background-mobile@2x.jpg"),
    linear-gradient(90deg, #504f55 50%, #fff 50%, transparent 0),
    linear-gradient(270deg, #424147 50%, #fff 50%, transparent 0);
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: $tablet-width) {
    background: none;
  }
  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    grid-row: 2/5;
  }
}



.hero__wrapper {
  display: grid;
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $primary-color;
    margin-top: 59px;
    margin-bottom: 40px;
    margin-right: 203px;
    text-align: start;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 106px 722px 40px 80px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.hero__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $primary-color;
    margin-bottom: 21px;
    text-align: left;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 80px;
    margin-bottom: 52px;
    margin-right: 722px;
  }
}

.hero__link {
  padding: 9px 44px;
  font-size: 16px;
  line-height: 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 244px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
    position: relative;
    bottom: 583px;
    margin-left: 90px;

  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 3/4;
    bottom: 0;
    margin-left: 80px;
    margin-bottom: 184px;
  }
}

.hero__image {

  @media (min-width: $tablet-width) {
  margin: 0 auto;
  position: relative;
  bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    grid-row: 1/4;
    left: 113px;
    top: 24px;
  }

}
