.hero {
  background: rgba(104, 183, 56, 0.85);
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.hero__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.hero__link {
  padding: 10px 63.5px;
}

.hero__image {

}
