.hero__wrapper {
  background-color: rgba(104, 183, 56, 0.85);
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}
@media (min-width: $tablet-width) {
  .hero__title{
    font-size: 60px;
    line-height: 60px;
    color: $primary-color;
  }
}

.hero__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: $tablet-width) {
  .hero__slogan {
    font-size: 20px;
    line-height: 20px;
    color: $primary-color;
  }
}
.hero__link {

  padding: 10px 44px;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: $tablet-width) {
  .hero__link {
    width: 192px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }
}

.hero__image {

}
