.logo {
  display: flex;
  gap: 56px;
  align-items: center;

  @media (min-width: $tablet-width) {
    gap: 13px;
  }

  @media (min-width: $desktop-width) {
    gap: 14px;
  }
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__image--icon {
  margin-top: 2px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.logo__image--text {
  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.logo__image--footer {
  width: 128px;
  height: 24px;
}
