.main-nav {

  }

  @media (min-width: $tablet-width) {
    .main-nav {
    display: flex;
    align-items: center;
    }
  }
.main-nav__toggle {
    width: 24px;
    height: 24px;
    background-image: url("../../images/buttom-mobile.svg");
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff;
}
@media (min-width: $tablet-width) {
  .main-nav__toggle {
  background: transparent;
  border: none !important;
  font-size:0;
  position: absolute;
}
}

.main-nav__wrapper {

}
