.main-nav {

}

.main-nav__toggle {

}
@media (min-width: $tablet-width) {
  .main-nav__toggle {
  background: transparent;
  border: none !important;
  font-size:0;
}
}
@media (min-width: $desktop-width) {
  .main-nav__toggle {
  background: transparent;
  border: none !important;
  font-size:0;
}
}

.main-nav__wrapper {

}
