.main-nav {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.main-nav__wrapper {
  display: none;
  position: absolute;
  background: #ffffff;
  min-width: 100%;
  left: 0%;
  z-index: 2;

  @media (min-width: $tablet-width) {
    display: block;
    position: inherit;
    background: none;
  }
}

.main-nav__wrapper.active {
  display: grid;
}

.main-nav__wrapper--nojs {
  display: grid;
  position: relative;
}
