.main-form__wrapper {
  @media (min-width: $tablet-width) {
    margin-right: 40px;
    margin-left: 40px;
  }
  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.main-form__title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 37px;
  margin-top: 27px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 60px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 69px;
    margin-bottom: 55px;
  }
}

.main-form__description {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 39px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
    margin-bottom: 65px;
    min-width: 350px;
  }
}
