.main-header {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:
      linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, #4a4a4c 50%, #4b4a4f 56%, #46454a 67%, #414045 70%,
        #3e3d42 73%, #3e3d42 73%, #414045 77%, #3e3d42 79%, #3b3a3f 83%, #403f44 85%);
  }
}

.main-header::before {
  @media (min-width: $desktop-width) {
    display: block;
    content: "";
    grid-column: 2/3;
    grid-row: 1/5;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(104, 183, 56, .85) 0%),
      url("../../images/hero-background.jpg") no-repeat left bottom;
    min-height: 694px;
  }
}

.main-header--secondary {
  background: none;
}

.main-header--secondary::before {
  display: none;
  background: none;
}

.main-header__logo {
  display: flex;
}

.main-header__wrapper {
  display: grid;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin-top: 55px;
    grid-column: 1/3;
    grid-row: 1/2;
    width: 1220px;
  }
}

.main-header__nav {
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 280px;
  margin: 0 auto;
  margin-top: 9px;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: auto;
  }
}

.main-header__wrapper--white {
  background: none;

  @media (min-width: $tablet-width) {
    gap: 98px;
  }
}
