.main-nav {
  position: relative;
  background-color: #ffffff;
  display: grid;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    margin-left: auto;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: #ffffff;
    width: 100vw;
  }

  .main-nav--nojs .main-nav__list {
    position: static;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
}
