.page-container {
  width: 280px;
  margin: 0 auto;

}
@media (min-width: $tablet-width) {
  .page-container {
   width: 708px;

  }
}
@media (min-width: $desktop-width) {
  .page-container {
    width: 1220px;

  }
}

