.program {}

.program__container {
  display: grid;
  grid-template-columns: min-content 1fr;
  background-color: #f2f2f2;
  padding: 20px 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr min-content;
    padding-bottom: 57px;
    padding-top: 77px;
    padding-left: 53px;
    padding-right: 63px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content min-content;
    padding: 0;
    padding-top: 37px;
    padding-left: 52px;
    padding-right: 62px;
    padding-bottom: 59px;

  }
}

.program__wrapper {
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.program__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 0;
  align-self: center;
  text-align: center;
  grid-column: 2/3;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    text-align: start;
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    text-align: center;
    grid-column: 2/3;
  }
}

.program__container--weight-loss::before {
  display: block;
  content: "";
  background-image: url("../../images/icons/stack.svg#cat-skinny");
  grid-column: 1/2;
  grid-row: 1/2;
  width: 50px;
  height: 53px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    grid-column: 2/3;
    grid-row: 1/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    left: 0;
    width: 100px;
    height: 106px;
  }
}

.program__container--weight-gain::before {
  display: block;
  content: "";
  background-image: url("../../images/icons/stack.svg#cat-mass");
  grid-column: 1/2;
  grid-row: 1/2;
  width: 69px;
  height: 50px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    grid-column: 2/3;
    grid-row: 1/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    left: 0;
    width: 138px;
    height: 100px;
  }
}

.program__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-color;
  margin: 0;
  margin-top: 22px;
  grid-column: 1/3;
}

@media (min-width: $tablet-width) {
  .program__description {
    font-size: 16px;
    line-height: 24px;
    margin-right: 316px;
    grid-row: 2/3;
  }
}

@media (min-width: $desktop-width) {
  .program__description {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-top: 39px;
    margin-bottom: 27px;
    grid-column: 1/3;
  }
}

.program__description:after {
  display: block;
  content: "";
  margin: 23px auto 15px auto;
  height: 1px;
  background-color: #d9d9d9;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.program__link {
  display: flex;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  --color: #000000;
  align-items: center;
  grid-column: 1/3;

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
  }
}

.program__link:hover,
.program__link:focus {
  --color: rgb(0, 0, 0, 0.6);
}

.program__link:active {
  --color: rgb(0, 0, 0, 0.3);
}

.program__link::after {
  content: "";
  display: block;
  width: 32px;
  height: 10px;
  margin-left: 15px;
  background-color: var(--color);
  -webkit-mask: var(--bgi) no-repeat center;
  mask: var(--bgi) no-repeat center;
  transform: translateX(-50%);

}

.program__link::after {
  --bgi: url("../../images/icons/stack.svg#icon-arrow");
}

.program__link::after:hover,
.program__link::after:focus {

  --color: rgb(0, 0, 0, 0.6);
  transform: none
}





@media (min-width: $tablet-width) {
  .program__link::after {
    margin-left: 25px;
  }
}
