
.range {
  grid-row: 1/2;
  transform: translateX(-140px);
  @media (min-width: $tablet-width) {
    transform: translateX(-280px);
  }
}
.range__bar {
  width: 4px;
  height: 256px;
  background-color: #666666;
  @media (min-width: $tablet-width) {
    height: 512px;
  }
}
.range__toogle {
  position: relative;
  width: 20px;
  height: 40px;
  border:2px solid #666666;
}
.range__toggle--left {
  top: 108px;
  position: relative;
  width: 20px;
  height: 40px;
  border-radius: 20px 0px 0px 20px;
  border-right: none;
  right: 18px;
  @media (min-width: $tablet-width) {
    top: 238px;
  }
}
.range__toggle--right {
  top: 68px;
    position: relative;
    width: 20px;
    height: 40px;
    border-radius: 0px 20px 20px 0;
    border-left: none;
    left: 1px;
    @media (min-width: $tablet-width) {
      top: 198px;
    }
}
