.social {

}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 132px;
}
.social__item {
  list-style-type: none;
}
.social__link {
  --color: #666666;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 47px;
  height: 42px;
}
.social__link::before {
  content: "";
  display: block;
  width: 28px;
  height: 22px;
  background-color: var(--color);
  -webkit-mask: var(--bgi) no-repeat center / contain;
  mask: var(--bgi) no-repeat center / contain;
}
.social__link:hover,
.social__link:focus {
  --color: #68b738;
}
.social__link:active {
  --color: rgb(104, 183, 56, 0.3);
}

.social__link--vk {
  --bgi: url("../../images/icons-social/vk.svg");
}
.social__link--yt {
  --bgi: url("../../images/icons-social/youtube.svg");
}
.social__link--tg {
  --bgi: url("../../images/icons-social/telegram.svg");
}

