.type-programm {
  @media (min-width: $tablet-width) {
    border: 1px solid #E7E7E7;
  }
}

.type-programm__list {
  padding: 0;
  margin: 0;


  @media (min-width: $tablet-width) {
    margin: 23px auto 27px 27px;
  }

  @media (min-width: $desktop-width) {
    margin: 25px auto 25px 27px;
  }
}




.type-programm__item {
  list-style-type: none;
  font-family: inherit;
  margin-bottom: 13px;
}

.type-programm__label {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $secondary-color;
}

@media (min-width: $tablet-width) {
  .type-programm__label {
    font-size: 20px;
    line-height: normal;
  }
}
.type-programm__label:disabled,
.type-programm__label--disabled:hover  {
  opacity: 0.3;
}
.type-programm__label:active {

}

.type-programm__input {
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px #444444 solid;
  border-radius: 50%;
  margin: 0;
  margin-right: 15px;
}

@media (min-width: $tablet-width) {
  .type-programm__input {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.type-programm__input[type="radio"]:checked {
  content: "";
  display: block;
  background-image: url("../../images/radio.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
}

@media (min-width: $tablet-width) {
  .type-programm__input[type="radio"]:checked {
    width: 40px;
    height: 40px;
  }
}



.type-programm__text {
  font-family: inherit;
}
